*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.homeBtn {
    cursor: pointer;
    width: calc(5vh + 3vw);
    height: calc(5vh + 3vw);
    z-index: 100000;
    position: absolute;
    display: flex;
    margin: 2vh;
    background-image: url("assets/imgs/home-button-icon.svg");
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    transition: transform 0.15s;
    
}
.homeBtn:hover{
transform: scale(1.2);
}
.homeBtn:active{
    transform: scale(1.2) translateY(4px);

    }