*{
    margin: 0;
    padding: 0;
}
body {
    background-color: maroon;
    transition: background-color 2s;
}
.homeBtn {
    cursor: pointer;
    width: calc(4vh + 2vw);
    height: calc(4vh + 2vw);
    z-index: 100000;
    position: absolute;
    display: flex;
    margin: 1vh;
    background-image: url("assets/imgs/home-button-icon.svg");
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    transition: transform 0.15s;
    
}
.homeBtn:hover{
transform: scale(1.2);
}
.homeBtn:active{
    transform: scale(1.2) translateY(4px);

}

.topBar{
    top: 0;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 12vh;
    background: linear-gradient(to right,maroon,maroon,maroon,transparent,transparent);
}

.mainContainer {
    top: 12vh;
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
    font-family: 'quicksand';
    overflow: hidden;
    overflow-y: scroll;
}

.row {
    display: flex;
    width: 100%;
    height: 10vh;
    border-bottom: 1px dashed black;
    color: white;
}

.block {
    
    display: flex;
    flex: 1;
    min-width: 0;
    max-width: 6.25vw;
    border-right: 2px solid black;
    box-sizing: border-box; /* so that the border doesn't increase the box's size */
    text-align: center; /* centering the text inside each block */
    padding: 0.3em; /* some padding for the content */
    background-color: #00000067; /* a light grey background for better visibility */
    overflow: hidden;
    font-size: 0.8em;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.name-field {
    flex: 5; /* Allows the item to grow and shrink from its base size */
    flex-basis: 100%; /* Adjust this value as needed */
}

.headblock {
    display: flex;
    flex: 1;
    min-width: 0;
    max-width: 10vw;
    border-right: 2px solid black;
    box-sizing: border-box; /* so that the border doesn't increase the box's size */
    text-align: center; /* centering the text inside each block */
    padding: 0.3em; /* some padding for the content */
    background-color: rgb(245, 245, 245);
    color: black;
    overflow: hidden;
    font-size: 0.88em;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    font-weight: bold;
    box-shadow: 0px 3px 5px 1px black;
}
.block, .headblock {
    cursor: pointer;
}

.row .block:last-child {
    border-right: none; /* remove the border for the last block */
}
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Keep it above the other content */
}

.sortOptions {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Dropdown Styles */
.sortOptions select {
    padding: 8px 15px;
    margin: 2px 10px;
    border: 2px solid #1E90FF; /* Example: Using DodgerBlue from your neonColors */
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    height: 40px;
}

.sortOptions select:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
    border-color: #FF00FF; /* Example: Using Neon Pink from your neonColors */
}

.sortOptions select:focus {
    outline: none;
    border-color: #00FFFF; /* Example: Using Aqua from your neonColors */
}

.sortButton{
    padding: 8px, 15px;
    margin: 3px 10px;
    height: 40px;
    width: 80px;
    font-size: 16px;
    justify-content: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sortOptions {
        flex-direction: column;
        align-items: center;
    }

    .sortOptions select {
        margin-bottom: 10px;
    }
}

#searchContainer {
    display: flex;
    justify-content: center;
    margin: 20px 15px;
    margin-left: 50px;
    position: relative;
}

#searchInput {
    padding-right: 40px; /* Make room for the search button */
    height: 40px;
    border: 2px solid #1E90FF; /* Example: Using DodgerBlue */
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
    font-size: 16px;
}

#searchField{
    padding-right: 40px; /* Make room for the search button */
    height: 40px;
    border: 2px solid #1E90FF; /* Example: Using DodgerBlue */
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
    font-size: 16px;
}

#searchContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchButton {
    position: relative;
    border: 2px solid #1E90FF;
    background-image: url(assets/imgs/search.png);
    background-size: contain; /* Ensures the image fits within the button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    cursor: pointer;
    height: 44px;
    width: 44px;
    border-radius: 0 5px 5px 0;
    background-color: transparent; /* Optional: if your image already has a transparent background */
}

#searchButton .fa-search {
    color: #000;
    font-size: 20px;
}

/* Adjust search field and button size similar to sort options */
#searchInput,#searchField, #searchButton {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 10px;
}

/* Dropdown Styles */
#searchField select {
    padding: 8px 15px;
    margin: 2px 10px;
    border: 2px solid #1E90FF; /* Example: Using DodgerBlue from your neonColors */
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    height: 40px;
}

.image-button {
    border: none; /* Removes the default button border */
    background: none; /* Removes the default button background */
    padding: 0; /* Adjust padding as needed */
}

.image-button img {
    width: 30px; /* Adjust width as needed */
    height: auto; /* Maintains the aspect ratio of the image */
}

.clickable-image {
    cursor: pointer; /* Changes cursor to indicate it's clickable */
    /* Other styling as needed */
}

#exportButton{
    height: 40px;
    width: 60px;
    margin-top: 25px;
    margin-left: 5px;
    font-size: 16px;
    background-color: white;
    border-color: #1E90FF;
}