@font-face {
    font-family: 'quicksand';
    src: url(assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@keyframes bounce {
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

:root {
    --panel1-color: rgba(214, 214, 214, 0.52);
    --panel2-color: rgba(214, 214, 214, 0.52);
    --panel3-color: rgba(214, 214, 214, 0.52);
    --panel1-color-hover: rgba(214, 214, 214, 0.65);
}
*{
    margin: 0;
    padding: 0;
}   
body{
    display: flex;
    position: relative;
}
.topbar {
    z-index: 10000;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.39);
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.tile {
    width: 50px;  /* You can change the size as required */
    height: 50px;
    transition: background-color 2s;
}

.front, .back {
    position: absolute;
    width: 50px;
    height: 50px;
    backface-visibility: hidden;
}
#tileContainer {
    display: flex;
    position: relative;
    overflow: hidden; /* Ensures the ::before doesn't affect outside of tileContainer */
}
.mainContainer {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
}
#tileContainer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Darkens by adding a 50% black overlay. Adjust as needed. */
    backdrop-filter: blur(1px); /* Blurs underlying content */
    pointer-events: none; /* Ensures interactions aren't blocked */
    z-index: 1; /* Places it above the tiles but below other content */
}
.mainTitle {
    cursor: pointer;
    box-sizing: border-box;
    text-shadow: 0px 5px 4px black;
    left: 10vw;
    position: absolute;
    width: 80vw; /* 60% of viewport width */
    height: 20vh; /* 60% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2; /* To ensure it sits above the blurred background */
    font-size: 5em; /* Adjust font size as required */
    color: white; /* You can adjust this as needed */
    font-family: 'quicksand';
}
.mainContent {
    display: none; /* Initially hidden */
    opacity: 1; /* Needed for the fade-in effect */
    transition: opacity 1s; /* For fading effect */
    box-sizing: border-box;
    text-shadow: 0px 5px 4px black;
    left: 10vw;
    top: 20vh;
    position: absolute;
    width: 80vw; /* 60% of viewport width */
    height: 80vh; /* 60% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2; /* To ensure it sits above the blurred background */
    font-size: 2em; /* Adjust font size as required */
    color: white; /* You can adjust this as needed */
    font-family: 'quicksand';
}
.panel {
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    font-family: 'quicksand';
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    flex: 1; /* Equal width for all panels */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    padding: 10px;
    background: transparent;
    transition: background-color 0.5s, color 0.5s ease, text-shadow 0.5s ease; /* Transition for hover and focus */
}

/* Define colors for panels */


/* Styles for titles */
.panel-title {
    animation: bounce 2.1s ease 0s infinite alternate paused;
    font-family: 'quicksand';
    font-size: 1.9em;
    margin-bottom: 10px; /* Spacing between title and separator */
}

/* Separator line beneath the title */
.panel-separator {
    width: 80%; /* Adjust if you want a different length */
    margin-bottom: 20px; /* Spacing between separator and description */
    transition: border-color 0.5s ease;
    
}
.panel-separator:hover {
}

/* Styles for descriptions */
.panel-description {
    font-size: 1em;
    text-align: left;
    width: 100%; /* Ensure it takes the full width of the panel */
}

/* Hover and focus styles */
.panel:hover {
    filter: brightness(1.3); /* Brighten the color slightly */
    color: black;
    text-shadow: none;
    background-color: var(--panel1-color-hover);
}

/* Change separator color when panel is hovered */
.panel:hover .panel-separator {
    border-color: black;
}
.panel:hover .panel-title {
    animation-play-state: running;
}

.panel:active {
    filter: brightness(1.1); /* Darken the color slightly */
}


/* Home button styles */
.homeBtn {
    cursor: pointer;
    width: calc(5vh + 3vw);
    height: calc(5vh + 3vw);
    z-index: 100000;
    position: fixed;
    top: 2vh; /* Adjust the top position for the home button */
    left: 2vh; /* Adjust the left position for the home button */
    background-image: url("assets/imgs/home-button-icon.svg");
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    transition: transform 0.15s;
}
.homeBtn:hover {
    transform: scale(1.2);
}

.homeBtn:active {
    transform: scale(1.2) translateY(4px);
}


.settingsBtn:hover {
    transform: scale(1.2);
}

.settingsBtn:active {
    transform: scale(1.2) translateY(4px);
}

.settingsBtn {
    cursor: pointer;
    width: calc(4vh + 2vw);
    height: calc(4vh + 2vw);
    z-index: 100000;
    position: fixed;
    top: 2vh; /* Adjust the top position for the home button */
    right: 3vh; /* Adjust the left position for the home button */
    background-image: url("assets/imgs/settings.png");
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: transform 0.15s;
}

.popup {
    display: none;
    position: fixed;
    background-color: rgb(4, 4, 127);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 10px; */
	width: 25vh;
    height: 25vh;
    z-index: 100000;
    top: 2vh; /* Adjust the top position for the home button */
    right: 2vh; /* Adjust the left position for the home button */
    
}
.popup-button1 {
    display: block;
	width: 25vh;
	height: 12.5vh;

	cursor: pointer;
    box-sizing: border-box;
    text-shadow: 0px 5px 4px black;
    
    display: flex;
    justify-content: left;
	padding-left: 1.5vh;
    align-items: center;
    background: transparent;
    z-index: 2; /* To ensure it sits above the blurred background */
    font-size: 1.65em; /* Adjust font size as required */
    color: white; /* You can adjust this as needed */
    font-family: 'quicksand';

}

.addUserImg {
	/* background-image: url("assets/imgs/addUser.svg"); */
	cursor: pointer; 
    z-index: 100000;
    position: fixed;
	width: 60px; /* Adjust the width as needed */
	height: 60px; /* Adjust the height as needed */
	top: 5.25%;
	right: 4.25%;
	-webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);

}

.popup-button2 {
    display: block;
	width: 25vh;
	height: 12.5vh;

	cursor: pointer;
    box-sizing: border-box;
    text-shadow: 0px 5px 4px black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2; /* To ensure it sits above the blurred background */
    font-size: 1.5em; /* Adjust font size as required */
    color: white; /* You can adjust this as needed */
    font-family: 'quicksand';
}